In [9]:
# import Dependencies
import os 
import pandas as pd 
import numpy as np

In [18]:
# Create a reference to the CSV and import it into a Pandas DataFrame

csv_path = "../ELT_CSVs/typetransit2011.csv"
raw_transit_df = pd.read_csv(csv_path)
raw_transit_df.head()

,Id,Id2,Geography,Total; Estimate; Workers 16 years and over,Total; Margin of Error; Workers 16 years and over,"Car, truck, or van -- drove alone; Estimate; Workers 16 years and over","Car, truck, or van -- drove alone; Margin of Error; Workers 16 years and over","Car, truck, or van -- carpooled; Estimate; Workers 16 years and over","Car, truck, or van -- carpooled; Margin of Error; Workers 16 years and over",Public transportation (excluding taxicab); Estimate; Workers 16 years and over,...,Public transportation (excluding taxicab); Estimate; PERCENT IMPUTED - Travel time to work,Public transportation (excluding taxicab); Margin of Error; PERCENT IMPUTED - Travel time to work,Total; Estimate; PERCENT IMPUTED - Vehicles available,Total; Margin of Error; PERCENT IMPUTED - Vehicles available,"Car, truck, or van -- drove alone; Estimate; PERCENT IMPUTED - Vehicles available","Car, truck, or van -- drove alone; Margin of Error; PERCENT IMPUTED - Vehicles available","Car, truck, or van -- carpooled; Estimate; PERCENT IMPUTED - Vehicles available","Car, truck, or van -- carpooled; Margin of Error; PERCENT IMPUTED - Vehicles available",Public transportation (excluding taxicab); Estimate; PERCENT IMPUTED - Vehicles available,Public transportation (excluding taxicab); Margin of Error; PERCENT IMPUTED - Vehicles available
0,8600000US06390,6390,ZCTA5 06390,156,63,130,52,0,89,0,...,(X),(X),0,(X),(X),(X),(X),(X),(X),(X)
1,8600000US10001,10001,ZCTA5 10001,12321,874,589,190,223,139,6090,...,(X),(X),1,(X),(X),(X),(X),(X),(X),(X)
2,8600000US10002,10002,ZCTA5 10002,34909,1558,2516,432,1457,337,19077,...,(X),(X),1.3,(X),(X),(X),(X),(X),(X),(X)
3,8600000US10003,10003,ZCTA5 10003,32790,1165,1320,292,218,112,18884,...,(X),(X),1,(X),(X),(X),(X),(X),(X),(X)
4,8600000US10004,10004,ZCTA5 10004,1883,248,124,69,12,17,898,...,(X),(X),0.6,(X),(X),(X),(X),(X),(X),(X)

In [105]:
# Begin dropping unnecessary columns
margin_transit_df = raw_transit_df[raw_transit_df.columns.drop(list(raw_transit_df.filter(regex='Margin')))]
percent_impunted_transit_df = margin_transit_df[margin_transit_df.columns.drop(list(margin_transit_df.filter(regex='PERCENT IMPUTED')))]
race_transit_df = percent_impunted_transit_df[percent_impunted_transit_df.columns.drop(list(percent_impunted_transit_df.filter(regex='HISPANIC')))]
vehicles_available_transit_df = race_transit_df[race_transit_df.columns.drop(list(race_transit_df.filter(regex='VEHICLES AVAILABLE')))]
housing_tenure_df = vehicles_available_transit_df[vehicles_available_transit_df.columns.drop(list(vehicles_available_transit_df.filter(regex='HOUSING TENURE')))]
gender_df = housing_tenure_df[housing_tenure_df.columns.drop(list(housing_tenure_df.filter(regex='SEX')))]
travel_time_df = gender_df[gender_df.columns.drop(list(gender_df.filter(regex='TRAVEL TIME')))]
median_df = travel_time_df[travel_time_df.columns.drop(list(travel_time_df.filter(regex='Median')))]
industry_df = median_df[median_df.columns.drop(list(median_df.filter(regex='INDUSTRY')))]
occupation_df = industry_df[industry_df.columns.drop(list(industry_df.filter(regex='OCCUPATION')))]
language_df = occupation_df[occupation_df.columns.drop(list(occupation_df.filter(regex='LANGUAGE')))]
nativity_df = language_df[language_df.columns.drop(list(language_df.filter(regex='NATIVITY')))]
race_df = nativity_df[nativity_df.columns.drop(list(nativity_df.filter(regex='race')))]
time_leaving_df = race_df[race_df.columns.drop(list(race_df.filter(regex='TIME LEAVING')))]
place_work_df = time_leaving_df[time_leaving_df.columns.drop(list(time_leaving_df.filter(regex='PLACE')))]
class_df = place_work_df[place_work_df.columns.drop(list(place_work_df.filter(regex='CLASS')))]
at_home_df = class_df[class_df.columns.drop(list(class_df.filter(regex='households')))]
poverty_df = at_home_df[at_home_df.columns.drop(list(at_home_df.filter(regex='POVERTY')))]
earnings_df = poverty_df[poverty_df.columns.drop(list(poverty_df.filter(regex='EARNINGS')))]
white_df = earnings_df[earnings_df.columns.drop(list(earnings_df.filter(regex='White')))]
over_df = white_df[white_df.columns.drop(list(white_df.filter(regex='over.1')))]
age_df = over_df[over_df.columns.drop(list(over_df.filter(regex='AGE')))]

# Show the Header 
age_df.head()

,Id,Id2,Geography,Total; Estimate; Workers 16 years and over,"Car, truck, or van -- drove alone; Estimate; Workers 16 years and over","Car, truck, or van -- carpooled; Estimate; Workers 16 years and over",Public transportation (excluding taxicab); Estimate; Workers 16 years and over,Total; Estimate; Workers 16 years and over who did not work at home,"Car, truck, or van -- drove alone; Estimate; Workers 16 years and over who did not work at home","Car, truck, or van -- carpooled; Estimate; Workers 16 years and over who did not work at home",Public transportation (excluding taxicab); Estimate; Workers 16 years and over who did not work at home
0,8600000US06390,6390,ZCTA5 06390,156,130,0,0,150,130,0,0
1,8600000US10001,10001,ZCTA5 10001,12321,589,223,6090,11442,589,223,6090
2,8600000US10002,10002,ZCTA5 10002,34909,2516,1457,19077,33546,2516,1457,19077
3,8600000US10003,10003,ZCTA5 10003,32790,1320,218,18884,29696,1320,218,18884
4,8600000US10004,10004,ZCTA5 10004,1883,124,12,898,1735,124,12,898

In [120]:
# Drop More Columns
full_geography_df = age_df[age_df.columns.drop('Id')]
only_ID2_df = full_geography_df[full_geography_df.columns.drop('Geography')]

# Rename ID2 Column to Zipcode
only_zipcode_df = only_ID2_df.rename(index=str, columns={"Id2": "Zipcode"})
only_zipcode_df.head()

,Zipcode,Total; Estimate; Workers 16 years and over,"Car, truck, or van -- drove alone; Estimate; Workers 16 years and over","Car, truck, or van -- carpooled; Estimate; Workers 16 years and over",Public transportation (excluding taxicab); Estimate; Workers 16 years and over,Total; Estimate; Workers 16 years and over who did not work at home,"Car, truck, or van -- drove alone; Estimate; Workers 16 years and over who did not work at home","Car, truck, or van -- carpooled; Estimate; Workers 16 years and over who did not work at home",Public transportation (excluding taxicab); Estimate; Workers 16 years and over who did not work at home
0,6390,156,130,0,0,150,130,0,0
1,10001,12321,589,223,6090,11442,589,223,6090
2,10002,34909,2516,1457,19077,33546,2516,1457,19077
3,10003,32790,1320,218,18884,29696,1320,218,18884
4,10004,1883,124,12,898,1735,124,12,898

In [122]:
# Create new csv file to examine
only_zipcode_df.to_csv('Transit_Type_Semi_Cleaned.csv', encoding='utf-8', index=False)